@import '../../../scss/variables';

.container {
  color: $main-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.box {
  display: flex;
  flex: 1 1 0%;
}
.keyboard_info {
  width: 490px;
  background-color: #eee7e7;
  padding: 28px;

  .title {
    font-weight: bolder;
    margin-bottom: 4px;
  }
}
