@import '../../../scss/variables';

.sheet_content {
  background-color: $second-color;
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: space-between;
  max-width: 20%;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out;
  width: 0;
  z-index: 33;
}

.sheet_content_active {
  height: 100%;
  opacity: 1;
  overflow: visible;
  transform: translateX(0);
  width: 100%;
}

.sheet_header {
  margin-left: 20px;
}

.focus {
  background-color: #00000080;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
}

.sheet_footer {
  background: white;
}

.footer_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 38px;
}

.items {
  flex: 1 1 0%;
  margin-top: 27px;
  overflow: auto;
  padding: 0;
}

.item {
  list-style: none;
  list-style-type: none;
  margin-bottom: 10px;
}

.empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;
}

.sheet_body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sheet_body_empty {
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
}
