.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: #4b5563;
  border-radius: 6px;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }
}

.price {
  height: 20px;
  width: 100%;
}

.price_item {
  height: 20px;
  width: 50px;
}

.product_cart {
  height: 70px;
  margin-bottom: 5px;
  width: 100%;
}

.component {
  height: 230px;
  width: 90%;
}
