@import '../../../scss/variables';

.auth_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 690px;
  justify-content: center;
  width: 560px;
}

.auth_container {
  max-width: 450px;
  width: 100%;
}

.login_container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .login_header {
    margin-right: 8px;
  }

  .login_title {
    font-size: 26px;
    font-weight: 800;
  }
}

.login_form {
  margin-bottom: 20px;
}

.auth_buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.user_icon {
  color: $main-black;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.auth_regbutton {
  margin: 20px 0;
}
