@import '../../../scss/variables';

.container {
  background-color: #f9fafb;
  border-radius: 16px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
  width: fit-content;
  @media (max-width: 590px) {
    justify-content: center;
  }
}

.link {
  align-items: center;
  border-radius: 16px;
  display: flex;
  font-weight: 700;
  height: 44px;
  padding: 0 20px;
  text-decoration: none;
}

.active_link {
  background-color: $main-white;
  box-shadow: $categories-box-shadow;
  color: $main-black;
}

.li_item {
  list-style: none;
}
