// COLORS MAIN

$main-black: #000000;
$main-white: #ffffff;
$main-gray: #9ca3af;

// COLORS SECOND
$second-white: #fcf8f8d0;
$second-color: #f0f0f0f0;
$second-color-dark: #685c5552;

// COLORS ADDITIONAL
$modal-background: #00000066;
$modal-background-light: #f7f6f5;

// FONTS
$font-family-nunito: 'Nunito', sans-serif;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow:
  0 0 0 1px transparent,
  0 0 0 2px #223c50;
$categories-box-shadow:
  0 4px 6px -1px #0000001a,
  0 2px 4px -1px #0000000f;
$filters-box-shadow:
  0 10px 15px -3px #0000001a,
  0 4px 6px -2px #0000000d;
$bg-white-shadow:
  0 1px 3px 0 #0000001a,
  0 1px 2px 0 #0000000f;

//  BORDER
$default: 1px solid $main-gray;

// $footer-border: 1px inset #96969673;
// $search-border: 1px solid #d7d7d7;
