@import '../../../scss/variables';

.container {
  color: $main-black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 1280px;

  .title {
    font-weight: 800;
  }
}
