.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info_container {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  gap: 20px;
}

.image {
  height: 65px;
  width: 65px;
}

.info_price {
  align-items: center;
  display: flex;
  gap: 12px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.info_footer {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-left: 80px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.trash {
  cursor: pointer;
}
