.container {
  background-color: white;
  display: flex;
  gap: 24px;
  padding: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.info_container {
  flex: 1 1 0%;
}

.info_footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info_price {
  align-items: center;
  display: flex;
  gap: 12px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.hr {
  margin: 12px 0;
  opacity: 0.5;
}

.image {
  height: 60px;
  width: 60px;
}
