@import '../../../scss/variables';

.header {
  border-bottom: solid 1px #ededed;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  color: $main-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.logo_box {
  display: flex;
  align-items: center;
  gap: 16px;
  color: $main-black;
}
.under_image {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
}
.user_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
}
.autorize_box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.link {
  text-decoration: none;
}
.search_input {
  flex: 1 1 0%;
  margin: 0 40px;
}
