@import '../../../scss/variables';

.header {
  border-bottom: solid 1px #ededed;
}

.container {
  align-items: center;
  color: $main-black;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 32px;
}

.logo_box {
  align-items: center;
  color: $main-black;
  display: flex;
  gap: 16px;
}

.under_image {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
}

.user_icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.autorize_box {
  align-items: center;
  display: flex;
  gap: 12px;
}

.link {
  text-decoration: none;
}

.search_input {
  flex: 1 1 0%;
  margin: 0 40px;
}
