@import '../../../scss/variables';

.container_image {
  background-color: $second-white;
  border-radius: 8px;
  display: flex;
  height: 260px;
  justify-content: center;
  padding: 24px;

  .image {
    height: 215px;
    width: 340px;
  }
}

.title {
  color: $main-black;
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 8px;
}

.description {
  color: $main-gray;
  font-size: 14px;
}

.container_under {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .price {
    color: $main-black;
    font-size: 20px;
  }
}

.link {
  text-decoration: none;
}

.slider_wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.slider_pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  position: absolute;
  width: 100%;
}
