@import '../../../scss/variables';
.container_image {
  display: flex;
  justify-content: center;
  padding: 24px;
  border-radius: 8px;
  height: 260px;
  background-color: $second-white;
  .image {
    width: 215px;
    height: 215px;
  }
}

.title {
  margin-bottom: 2px;
  margin-top: 8px;
  font-weight: 700;
  color: $main-black;
}
.description {
  font-size: 17px;
  color: $main-gray;
}

.container_under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  .price {
    font-size: 20px;
    color: $main-black;
  }
}
.link {
  text-decoration: none;
}
