.container {
  width: 210px;
}
.title {
  font-weight: 700;
  margin-bottom: 15px;
}
.group_items {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-height: 384px;
  padding-right: 8px;
  overflow: auto;
  margin-bottom: 20px;
}
.input_search {
  margin-bottom: 15px;
}
