@import '../../../scss/variables.scss';

.container {
  align-items: center;
  background-color: #f9fafb;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 4px;
  height: 52px;
  padding: 0 20px;
}

.categories {
  color: $second-color;
}
