.container {
  background-color: white;
  border-radius: 24px;
}

.box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 28px;
}

.children {
  padding: 16px 20px;
}

.classname {
  padding: 24px;
  position: sticky;
  top: 16px;
}
