@import '../../../scss/variables';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  margin: 2px;

  width: 128px;
  border-radius: 6px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: $main-white;
  box-shadow: $categories-box-shadow;
}
.container_active {
  box-shadow: $basic-box-shadow;
}
.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: $main-black;
}
.title {
  font-size: 12px;
  line-height: 16px;
}
.price {
  font-weight: 700;
}
