@import '../../../../scss/variables';

.info_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  flex: 1 1 0%;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 5px 0;
}

.details {
  color: $main-gray;
  font-size: 11px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
