@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();
  //   @include focus();
  position: relative;

  &:disabled {
    pointer-events: none;
  }

  //   &:hover {
  //     background-color: $black-theme;
  //   }
}

.icon {
  @include vertical-center();
}

.outline {
  background: none;
  border: $default;
  padding: 13px 24px;
  padding-left: 39px;
  border-radius: 15px;
  color: $second-color;
}

.categories {
  color: $main-black;
  background: none;
}
.unfilled {
  background: none;
  border-radius: 16px;
  padding: 15px;
  border: 1px solid $main-black;
  border-radius: 10px;
}

.modal {
  margin-top: 20px;
  padding: 13px;
  width: 100%;

  border-radius: 18px;
  background-color: $main-gray;
}
.cart {
  position: relative;
  display: flex;
  padding: 14px 24px;
  border-radius: 15px;
  &:hover {
    .cart_span {
      opacity: 1;
    }
    .cart_div {
      opacity: 0;
    }
    .arrow {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.cart_span {
  height: 25px;
  width: 1px;
  background: $main-black;
  opacity: 0.7;
  margin: 0 12px;
}
.cart_div {
  display: flex;
  align-items: center;
  gap: 4px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.arrow {
  width: 20px;
  position: absolute;
  right: 20px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transform: translateX(0.5rem);
  opacity: 0;
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

.bold {
  @include textBold-16();
}
.regular {
  @include textRegular-16();
}
