@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();

  //   @include focus();
  position: relative;

  &:disabled {
    pointer-events: none;
  }
}

.icon {
  @include vertical-center();
}

.filled {
  border-radius: 10px;
  padding: 7px;
  width: 100%;

  &:hover {
    background-color: $main-gray;
  }
}

.outline {
  background: none;
  border: $default;
  border-radius: 15px;
  color: $second-color;
  padding: 13px 24px;
  padding-left: 39px;
}

.categories {
  background: none;
  color: $main-black;
}

.unfilled {
  background: none;
  border: 1px solid $main-black;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
}

.modal {
  background-color: $main-gray;
  border-radius: 18px;
  margin-top: 20px;
  padding: 13px;
  width: 100%;
}

.cart {
  border-radius: 15px;
  display: flex;
  padding: 14px 24px;
  position: relative;

  &:hover {
    .cart_span {
      opacity: 1;
    }

    .cart_div {
      opacity: 0;
    }

    .arrow {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.custom {
  background: $second-color;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
}

.cart_span {
  background: $main-black;
  height: 25px;
  margin: 0 12px;
  opacity: 0.7;
  width: 1px;
}

.cart_div {
  align-items: center;
  display: flex;
  gap: 4px;
  transition-duration: 300ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow {
  opacity: 0;
  position: absolute;
  right: 20px;
  transform: translateX(0.5rem);
  transition-duration: 300ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
    transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bold {
  @include textBold-16();
}

.regular {
  @include textRegular-16();
}

.link {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 18px;
  background-color: $second-color-dark;
  text-decoration: none;

  &:hover {
    background-color: $second-color;
  }
}
