@import '../../../scss/variables.scss';

.modal {
  align-items: center;
  background-color: $modal-background;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 33;
}

// .modal_product {
// }

// .modal_auth {
// }

.modal_active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  background-color: $main-white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  transform: scale(0, 5);
}

.modal_content_product {
  max-width: fit-content;
  min-height: 500px;
}

.modal_content_auth {
  height: 100%;
  max-height: 600px;
  max-width: 650px;
  width: 100%;
}

.modal_content_active {
  transform: scale(1);
}
