@import '../../scss/variables';

.container {
  color: $main-black;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 1280px;
}

.title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 32px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.personal_data {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sidebar {
  width: 450px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ul_list {
  padding: 0;

  li {
    list-style: none;
  }
}
.comment {
  margin-top: 20px;
}
